////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really hold nothing except for imports of your base, style guide, layout, and design partials.
////////////////////////

//////////////////////////////
// Legacy Support Setup
//////////////////////////////
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

$legacy-support-for-mozilla: false;

////////////////////////
// Base Import
////////////////////////
@import 'partials/global/base';

////////////////////////
// Import Style Guide
////////////////////////
@import 'partials/styleguide/style-guide';

////////////////////////
// Import Layout
////////////////////////
@import 'partials/layout/layout';

////////////////////////
// Import Design
////////////////////////
@import 'partials/design/design';

// $primary: #bfd2af;
// $primary: #cfadd0;
// $primary: #d7cbb3;
$primary: #adc3d0;

$white: tint($primary, 90%);
$black: #333;

$gutters: .05;

%border {
  $width: .35em;
  border-width: $width 0 $width 0;
  border-style: outset;
  border-color: $primary;
  border-radius: $width;
  // padding: ($width * 1.4) 0;
  margin: .25em 0;
}

%region-padding {
  padding: .25rem .5rem;
}

body {
  font-family: "ff-tisa-web-pro";
  background: $white;
  color: $black;

  line-height: 1.618em;
}

main {
  display: block;
  max-width: 1283px;
  margin: 0 auto;
}

section {
  @extend %region-padding;
}

.media {
  @extend %region-padding;
}

.recipe > h1 {
  @extend %region-padding;
}

footer {
  @extend %region-padding;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "hwt-american-solid";

  line-height: 1.618em;

  margin-top: 0;
  margin-bottom: 0;

  color: lighten(invert($primary), 35%);
  text-transform: uppercase;
  text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black, 3px 2px 0px $black;
}

.ingredients {
  ul {
    list-style: none;
    padding-left: 1em;
  }
}

.ir-16-9 {
  @include intrinsic-ratio;
  @extend %border;
}

@include breakpoint(500px 646px) {
  @include layout(2) {
    .ir-16-9 {
      @include grid-span(1, 1);
      @include intrinsic-ratio-padding(500/332, column-span(1, 1));
    }
    .carousel {
      @include grid-span(1, 2);
    }
  }
}

@include breakpoint(646px) {
  @include layout(1 1.618) {
    .ingredients {
      @include grid-span(1, 1);
    }
    .directions {
      @include grid-span(1, 2);
    }

    .media {
      @include grid-span(1, 1);
      clear: left;
    }
  }
}

@include breakpoint(1000px) {
  @include layout(1 1.618 2.617924) {
    .ingredients {
      @include grid-span(1, 2);
    }
    .directions {
      @include grid-span(1, 3);
    }
    .media {
      @include grid-span(1, 1);
    }
  }
}



.carousel {
  @include css-carousel-component(5, $duration: 20s);

  @extend %border;
  margin-bottom: .5em;
}

@include css-carousel-animation(5, start, 4.5);