h1, h2, h3, h4, h5, h6 {
  font-family: $font-dec;

  line-height: $line-height;

  margin-top: 0;
  margin-bottom: 0;

  color: lighten(invert($primary), 35%);
  text-transform: uppercase;
  text-shadow: -1px 0 $dark, 0 1px $dark, 1px 0 $dark, 0 -1px $dark, 3px 2px 0px $dark;
}